In [2]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
csvpath = os.path.join('WildLifeTrade2016-2017.csv')
wtrade_df = pd.read_csv(csvpath)
wtrade_df.head(10)

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
0,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,TR,NL,CZ,NaN,1.0,bodies,NaN,T,C
1,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,XV,RS,RS,NaN,1.0,bodies,NaN,Q,O
2,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,feathers,NaN,S,W
3,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,specimens,NaN,S,W
4,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,DK,IS,NaN,700.0,NaN,specimens,NaN,S,W
5,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,XV,RS,RS,NaN,1.0,bodies,NaN,Q,O
6,2016,I,Harpia harpyja,Aves,Falconiformes,Accipitridae,Harpia,BR,FR,NaN,NaN,12.0,feathers,NaN,S,C
7,2016,I,Harpia harpyja,Aves,Falconiformes,Accipitridae,Harpia,BR,FR,NaN,NaN,4.0,feathers,NaN,S,U
8,2016,I,Harpia harpyja,Aves,Falconiformes,Accipitridae,Harpia,BR,FR,NaN,NaN,2.0,feathers,NaN,S,W
9,2016,I,Acipenser brevirostrum,Actinopteri,Acipenseriformes,Acipenseridae,Acipenser,CH,DE,NaN,NaN,4.0,live,NaN,T,C

In [37]:
a = []
taxon_trade_groups = wtrade_df.groupby(['App.','Taxon'])['Taxon'].value_counts()
appendices_count = taxon_trade_groups.groupby(level=0).count()
print('Total traded appendices: %s' %(appendices_count).sum())
appendices_count

Total traded appendices: 6448

App.
I       528
II     5772
III      91
N        57
Name: Taxon, dtype: int64

In [13]:
#taxon_groups = wtrade_df.groupby(['Taxon']).count()
#taxon_groups

,Year,App.,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
Taxon,,,,,,,,,,,,,,,
Abronia graminea,1,1,1,1,1,1,1,1,0,1,0,1,0,1,1
Acampe papillosa,2,2,0,2,2,2,2,2,0,2,0,2,0,2,2
Acampe praemorsa,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Acampe spp.,4,4,0,4,4,4,4,4,0,4,0,4,0,4,4
Acanthastrea amakusensis,7,7,7,7,7,7,7,7,0,7,0,7,0,7,7
Acanthastrea bowerbanki,14,14,14,14,14,14,14,14,2,12,2,14,0,14,14
Acanthastrea echinata,8,8,8,8,8,8,8,8,1,7,1,8,0,8,8
Acanthastrea hemprichii,2,2,2,2,2,2,2,2,0,2,0,2,0,2,2
Acanthastrea hillae,9,9,9,9,9,9,9,9,1,9,0,9,0,9,9
Acanthastrea lordhowensis,22,22,22,22,22,22,22,22,3,19,3,22,0,22,22
Acanthastrea maxima,4,4,4,4,4,4,4,4,2,2,2,4,0,4,4
Acanthastrea rotundoflora,1,1,1,1,1,1,1,1,0,1,0,1,0,1,1
Acanthastrea spp.,125,125,125,125,125,125,125,125,24,73,77,125,0,125,125
Acanthephippium gougahense,2,2,0,2,2,2,2,2,0,0,2,2,0,2,2
Acanthephippium pictum,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Acanthephippium spp.,5,5,0,5,5,5,5,5,0,1,4,5,0,5,5
Acanthocereus hirschtianus,1,1,0,1,1,1,1,1,0,0,1,1,0,1,1
Acanthocereus tetragonus,11,11,0,11,11,11,11,11,0,1,10,11,0,2,11
Acanthopathes spp.,1,1,1,1,1,1,1,1,1,1,0,1,0,1,1
Acanthophippium mantinianum,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Acanthophyllia deshayesiana,44,44,44,44,44,44,44,44,3,23,23,44,0,44,44
Acanthophyllia spp.,2,2,2,2,2,2,2,2,0,2,0,2,0,2,2
Accipiter brachyurus,1,1,1,1,1,1,1,1,0,1,0,1,0,1,1
Accipiter brevipes,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1
Accipiter cooperii,4,4,4,4,4,4,4,4,1,3,1,4,1,4,4
Accipiter francesii,3,3,3,3,3,3,3,3,0,1,2,3,3,3,3
Accipiter gentilis,48,48,48,48,48,48,48,48,16,16,36,48,1,47,48
Accipiter hybrid,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1
Accipiter melanoleucus,3,3,3,3,3,3,3,3,0,3,1,3,0,3,3
Accipiter minullus,1,1,1,1,1,1,1,1,0,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zamia fischeri,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zamia furfuracea,18,18,0,18,18,18,17,18,1,7,12,18,0,18,18
Zamia gentryi,1,1,0,1,1,1,1,1,0,0,1,1,0,1,1
Zamia imperialis,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zamia integrifolia,4,4,0,4,4,4,4,4,0,3,1,4,0,4,4
Zamia ipetiensis,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zamia nana,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zamia nesophila,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zamia obliqua,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zamia spp.,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zamia stevensonii,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zamiaceae spp.,12,12,0,12,12,0,12,12,1,4,8,12,0,12,12
Zeuxine longilabris,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zeuxine spp.,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Ziphius cavirostris,10,10,10,10,10,10,10,10,6,1,9,10,0,10,10
Zonosaurus quadrilineatus,2,2,2,2,2,2,2,2,0,2,0,2,0,2,2
Zootrophion argus,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zootrophion dayanum,3,3,0,3,3,3,3,3,0,3,0,3,0,3,3
Zootrophion spp.,4,4,0,4,4,4,4,4,0,4,0,4,0,4,4
Zootrophion ximenae,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zygopetalum hybrid,25,25,0,25,25,25,25,25,1,2,23,25,0,3,25
Zygopetalum maculatum,4,4,0,4,4,4,4,4,0,0,4,4,0,3,4
Zygopetalum sincoranum,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zygopetalum spp.,8,8,0,8,8,8,8,8,0,3,5,8,0,4,8
Zygosepalum spp.,2,2,0,2,2,2,2,2,0,1,1,2,0,2,2
Zygosicyos pubescens,2,2,0,2,2,2,2,2,0,1,2,2,0,2,2
Zygosicyos tripartitus,7,7,0,7,7,7,7,7,2,4,7,7,0,7,7
Zygostates alleniana,2,2,0,2,2,2,2,2,0,1,1,2,0,2,2
Zygostates lunata,1,1,0,1,1,1,1,1,0,1,0,1,0,1,1
Zygostates spp.,1,1,0,1,1,1,1,1,0,0,1,1,0,1,1

In [41]:
wtrade_df2 = wtrade_df.set_index("Taxon")
wtrade_df2.head()

,Year,App.,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
Taxon,,,,,,,,,,,,,,,
Aquila heliaca,2016,I,Aves,Falconiformes,Accipitridae,Aquila,TR,NL,CZ,NaN,1.0,bodies,NaN,T,C
Aquila heliaca,2016,I,Aves,Falconiformes,Accipitridae,Aquila,XV,RS,RS,NaN,1.0,bodies,NaN,Q,O
Haliaeetus albicilla,2016,I,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,feathers,NaN,S,W
Haliaeetus albicilla,2016,I,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,specimens,NaN,S,W
Haliaeetus albicilla,2016,I,Aves,Falconiformes,Accipitridae,Haliaeetus,DK,IS,NaN,700.0,NaN,specimens,NaN,S,W

In [48]:
crocodiles = wtrade_df2.loc["Crocodylus niloticus",:]
crocodiles

,Year,App.,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
Taxon,,,,,,,,,,,,,,,
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,AE,UG,SN,NaN,2.00,leather products (small),NaN,E,W
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,AE,UG,XX,NaN,1.00,leather products (small),NaN,E,W
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,AT,NaN,NaN,1.00,1.00,skins,NaN,H,W
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,CH,DE,XX,NaN,1.00,bodies,NaN,Q,O
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,CH,FR,MG,NaN,1.00,skulls,NaN,T,C
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,CN,ES,MZ,16.00,NaN,skins,NaN,T,R
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,CZ,ZA,SN,11.00,NaN,leather products (small),NaN,T,D
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,DE,CH,FR,29.00,NaN,specimens,NaN,S,C
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,DE,NaN,NaN,NaN,1.00,skulls,NaN,H,W
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,DE,NaN,NaN,NaN,2.00,trophies,NaN,H,W
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,FR,JP,XX,20.84,NaN,carvings,NaN,Q,O
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,FR,JP,XX,NaN,5.50,leather products (large),NaN,Q,O
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,FR,JP,XX,1.00,16.32,leather products (small),NaN,Q,O
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,JP,FR,XX,NaN,13.17,carvings,NaN,Q,O
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,JP,FR,XX,1.00,NaN,leather products (large),NaN,Q,O
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,JP,FR,XX,2.00,NaN,leather products (small),NaN,Q,O
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,KR,US,XX,NaN,3.00,bodies,NaN,Q,O
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,MY,SG,PH,1.00,NaN,leather products (small),NaN,T,D
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,NO,CH,ZW,1.00,NaN,leather products (small),NaN,T,R
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,PT,SN,NaN,85.00,NaN,leather products (small),NaN,T,D
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,RU,NaN,NaN,NaN,1.00,rug,NaN,H,W
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,SA,TR,ZA,NaN,1.00,garments,NaN,T,W
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,SG,FR,XX,NaN,1.00,leather products (small),NaN,T,O
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,SN,US,XX,NaN,1.00,leather products (small),NaN,L,I
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,TR,CH,ZW,5.00,NaN,leather products (small),NaN,T,C
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,TR,CH,ZW,17.00,NaN,leather products (small),NaN,T,R
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,TR,CH,ZW,26.00,NaN,leather products (small),NaN,T,W
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,TR,ES,ZA,18.00,NaN,skins,NaN,T,C
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,TR,ES,ZW,60.00,NaN,skins,NaN,T,C
Crocodylus niloticus,2016,I,Reptilia,Crocodylia,Crocodylidae,Crocodylus,TR,ES,ZW,1.00,NaN,skins,NaN,T,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZA,JP,ZA,NaN,9.00,skins,NaN,T,C
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZA,MW,NaN,NaN,900.00,skins,NaN,T,R
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZA,NaN,NaN,NaN,1.00,trophies,NaN,H,W
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZA,US,ZA,NaN,80.00,skins,NaN,T,C
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZA,ZM,NaN,NaN,2.00,skins,NaN,H,W
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZA,ZM,NaN,NaN,2.00,trophies,NaN,H,R
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZA,ZM,NaN,NaN,1.00,trophies,NaN,H,W
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZA,ZW,NaN,NaN,6.00,skins,NaN,H,W
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZA,ZW,NaN,NaN,2181.00,skins,NaN,T,R
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZA,ZW,NaN,NaN,8050.00,skin pieces,NaN,T,R
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZA,ZW,NaN,NaN,4.00,trophies,NaN,H,W
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZM,ZW,NaN,NaN,105.00,leather products (small),NaN,T,R
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZM,ZW,NaN,NaN,42.00,leather products (small),NaN,T,W
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZM,ZW,NaN,NaN,38.00,skins,NaN,T,R
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZW,DE,NaN,NaN,79.00,skins,NaN,T,C
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZW,KE,NaN,NaN,500.00,live,NaN,T,R
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZW,MW,NaN,NaN,50.00,skins,NaN,T,R
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZW,MW,NaN,NaN,114.00,skins,NaN,T,W
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZW,XX,NaN,4.00,NaN,leather products (small),NaN,Q,R
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZW,ZM,NaN,NaN,42157.00,skins,NaN,T,R
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZW,ZM,NaN,NaN,1.00,skulls,NaN,H,W
Crocodylus niloticus,2016,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZW,ZM,NaN,NaN,4.00,trophies,NaN,H,W
Crocodylus niloticus,2017,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,BG,ZW,NaN,1.00,NaN,trophies,NaN,H,W
Crocodylus niloticus,2017,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,CD,ZA,NaN,1.00,NaN,live,NaN,Z,R
Crocodylus niloticus,2017,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ES,MO,ZW,NaN,1.00,leather products (small),NaN,T,C
Crocodylus niloticus,2017,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,IT,ET,NaN,NaN,4.00,skins,NaN,T,R
Crocodylus niloticus,2017,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,IT,MW,NaN,NaN,5035.00,skins,NaN,T,R
Crocodylus niloticus,2017,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,MO,FR,ZW,5.00,NaN,leather products (small),NaN,T,R
Crocodylus niloticus,2017,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,MO,IT,ZW,6.00,NaN,leather products (small),NaN,T,R
Crocodylus niloticus,2017,II,Reptilia,Crocodylia,Crocodylidae,Crocodylus,ZW,MW,NaN,NaN,414.00,skins,NaN,T,W

In [34]:
top_taxon = taxon_trade_groups.groupby(level=1).sum()

top_taxon.sort_values(ascending = False).head(10)

Taxon
Crocodylus niloticus          2418
Python reticulatus            2316
Alligator mississippiensis    2100
Crocodylus porosus            1404
Varanus salvator               964
Python bivittatus              925
Acipenser baerii               911
Loxodonta africana             854
Macaca fascicularis            793
Varanus niloticus              735
Name: Taxon, dtype: int64

In [51]:
trading_purposes = wtrade_df['Purpose'].value_counts()
trading_purposes.rename(index='Purpose',inplace=True)

T    47254
P     5871
S     2420
H     2145
Q     1054
M      867
Z      784
B      384
E      329
G       91
L       90
N       50
Name: Purpose, dtype: int64

In [52]:
trading_purposes = wtrade_df['Source'].value_counts()
trading_purposes.rename(index='Source',inplace=True)

W    21690
A    16818
C    15989
F     4581
I     2130
O     1828
D     1776
R     1766
U      248
X       27
Name: Source, dtype: int64

In [53]:
trading_purposes = wtrade_df['Term'].value_counts()
trading_purposes.rename(index='Term',inplace=True)

live                        33976
leather products (small)    10130
specimens                    2886
skins                        2280
raw corals                   1903
trophies                     1604
garments                     1456
caviar                       1206
extract                       965
bodies                        916
leather products (large)      866
skin pieces                   748
carvings                      696
ivory carvings                540
derivatives                   454
skulls                        396
jewellery                     386
medicine                      380
roots                         353
feathers                      336
meat                          330
cosmetics                     297
cultures                      266
sawn wood                     248
oil                           244
chips                         226
eggs                          220
seeds                         192
leaves                        191
tusks                         188
                            ...
veneer                         34
fur product (small)            34
pearl                          30
jewellery - ivory              29
horns                          29
flowers                        24
plates                         24
ears                           22
bone carvings                  21
bark                           19
skeletons                      19
carapaces                      18
fibres                         18
bone pieces                    17
musk                           17
fur products (large)           15
scales                         12
horn carvings                  11
baleen                         10
pupae                           9
genitalia                       9
trunk                           5
fingerlings                     5
coral sand                      4
eggshell                        4
gall bladders                   3
horn pieces                     2
swim bladders                   2
gall                            1
fruit                           1
Name: Term, Length: 83, dtype: int64