In [1]:
import os
import csv
import pandas as pd

InputFile = 'CITES_ResultsJRE.csv'
ImporterFile = 'TopImpByTrans_JRE.csv'
ExporterFile = 'TopExpByTrans_JRE.csv'
ImpQtyFile = 'TopImpByQuantity_JRE.csv'
ExpQtyFile = 'TopExpByQuantity_JRE.csv'

In [2]:
csvpath = os.path.join(InputFile)
input_df = pd.read_csv(csvpath)
print(input_df.columns.get_values())
input_df.head(1)

['Year' 'App.' 'Taxon' 'Class' 'Order' 'Family' 'Genus' 'Importer'
 'Exporter' 'Origin' 'Importer reported quantity'
 'Exporter reported quantity' 'Term' 'Unit' 'Purpose' 'Source'
 'Purpose Description' 'Source Description' 'Importer Country Name'
 'Exporter Country Name']

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source,Purpose Description,Source Description,Importer Country Name,Exporter Country Name
0,2017,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,US,CR,NaN,NaN,200.0,specimens,NaN,S,W,Scientific,Specimens taken from the wild.,United States of America,Costa Rica

In [3]:
# Group by Importing country
# Using GroupBy in order to summarize the data by 'Importer Country Name' values
GrpdByImporterData = input_df.groupby(['Importer Country Name'])

# Transaction count
ImportTransactionCount = input_df['Importer Country Name'].value_counts()

# Construct the output table
# In order to be visualized, a data function must be used...
TopImporter_df = pd.DataFrame({'Transaction Count': ImportTransactionCount})
# convert the index into a column
TopImporter_df.sort_values("Transaction Count", inplace=True, ascending=False)
TopImporter_df.reset_index(inplace=True)
TopImporter_df = TopImporter_df.rename(columns = {'index' : 'Import Country'})
TopImporter_df.to_csv(ImporterFile, encoding='utf-8', index=False)
TopImporter_df.head(3)

             Import Country  Transaction Count
0  United States of America                102
1          Macao, SAR China                 28
2                   Germany                 21

In [4]:
# Group by Exporting Countries
# Using GroupBy in order to summarize the data by 'Importer Country Name' values
GrpdByExporterData = input_df.groupby(['Exporter Country Name'])

# Transaction count
ExportTransactionCount = input_df['Exporter Country Name'].value_counts()

# Construct the output table
# In order to be visualized, a data function must be used...
TopExporter_df = pd.DataFrame({'Transaction Count': ExportTransactionCount})
# convert the index into a column
TopExporter_df.sort_values("Transaction Count", inplace=True, ascending=False)
TopExporter_df.reset_index(inplace=True)
TopExporter_df = TopExporter_df.rename(columns = {'index' : 'Export Country'})
TopExporter_df.to_csv(ExporterFile, encoding='utf-8', index=False)
TopExporter_df.head(3)

      Export Country  Transaction Count
0         Costa Rica                123
1  Congo, (Kinshasa)                 37
2               Peru                 37

In [6]:
# Top Importer by Importer reported quantities

# Using GroupBy in order to summarize the data by 'Importer Country Name' values
GrpdByImpQtyData = input_df.groupby(['Importer Country Name'])

# Transaction count
ImportTransCount = input_df['Importer Country Name'].value_counts()
ImportRptdQuantity = GrpdByImpQtyData['Importer reported quantity'].sum()
# Construct the output table
# In order to be visualized, a data function must be used...
TopImpQty_df = pd.DataFrame({'Transaction Count': ImportTransCount,
                            'Quantity Imported': ImportRptdQuantity })

# sort and convert the index into a column
TopImpQty_df.sort_values("Quantity Imported", inplace=True, ascending=False)
TopImpQty_df.reset_index(inplace=True)
TopImpQty_df = TopImpQty_df.rename(columns = {'index' : 'Import Country'})
TopImpQty_df.to_csv(ImpQtyFile, encoding='utf-8', index=False)
TopImpQty_df.head(3)

     Import Country  Quantity Imported  Transaction Count
0        Madagascar            2050.00                  3
1  Macao, SAR China             861.20                 28
2        Costa Rica             561.18                 18

In [7]:
# Top Importer by Exporter reported quantities

# Using GroupBy in order to summarize the data by 'Importer Country Name' values
GrpdByExpQtyData = input_df.groupby(['Exporter Country Name'])

# Transaction count
ExportTransCount = input_df['Exporter Country Name'].value_counts()
ExportRptdQuantity = GrpdByExpQtyData['Exporter reported quantity'].sum()
# Construct the output table
# In order to be visualized, a data function must be used...
TopExpQty_df = pd.DataFrame({'Transaction Count': ExportTransCount,
                            'Quantity Exported': ExportRptdQuantity })

# convert the index into a column
TopExpQty_df.sort_values("Quantity Exported", inplace=True, ascending=False)
TopExpQty_df.reset_index(inplace=True)
TopExpQty_df = TopExpQty_df.rename(columns = {'index' : 'Export Country'})
TopExpQty_df.to_csv(ExpQtyFile, encoding='utf-8', index=False)
TopExpQty_df.head(3)

      Export Country  Quantity Exported  Transaction Count
0         Costa Rica        5260583.141                123
1           Colombia          43560.000                 36
2  Congo, (Kinshasa)          29927.435                 37